/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --header-text-color: #353430;
  --color-decorated: #353430;
}

.page.theme_light .decorated-element-text {
  display: none;
}

.page.theme_light .main-title {
  color: #FFC2E6;
}

.page.theme_light .section-title {
  color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
    --header-text-color: #353430;
    --color-decorated: #353430;   
    }
    
    .page .decorated-element-text {
      display: none;
    }
    
    .page .main-title {
      color: #FFC2E6;
    }
    
    .page .section-title {
      color: var(--main-text-color);
    }
}

