/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* используем подход desktop-first */
/* переопределять стили для мобильной и планшетной версий будем сразу же */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  font-size: var(--main-text-size);
  /* зададим глобальный паддинг всй страницы, который есть в макете*/
  padding: var(--padding-size);
  width: 100%;
  /* фон */
  background-image: var(--background-img);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media(min-width: 1024px) {
  .page {
    margin: 0 auto;
  }
}

@media (max-width: 380px) {
  body {
    --no-phone-margin: 50px;
    --padding-size: 10px;
  }
}

.header {
  display: grid;
  width: 100%;
  grid-template-rows: 300px 130px 300px;
}

.decorated-element-text {
  color: var(--accent-color);
  line-height: 25px;
  position: absolute;
  inset-inline-end: calc(var(--padding-size) + 10px);
  inset-block-start: var(--padding-size);
}

.decorated-element-text::after {
  content: '';
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

/* декоративный элемент в шапке */
.header::before,
.header::after {
  content: '';
  display: block;
  block-size: 25px;
  inline-size: 25px;
} 

/* декоративный элемент в шапке */
.header::before {
  position: absolute;
  inset-inline-end: var(--padding-size);
  inset-block-start: var(--padding-size);
  border-inline-end: 1px solid var(--color-decorated); 
  border-block-start: 1px solid var(--color-decorated);
  
}

/* декоративный элемент в шапке */
.header::after {
  border-inline-start: 1px solid var(--color-decorated);
  border-block-end: 1px solid var(--color-decorated);
  position: relative;
  inset-block-start: -25px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 23px;
  color: var(--color-decorated);
  text-transform: lowercase;
  line-height: 18px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--color-decorated);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--border-color);
}

@media (max-width: 780px) {
  .header {
    grid-template-rows: 443px 99px 442px;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
    align-items: end;
  }

  .header {
    align-items: center;
  }
}

.main-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--main-title-color);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  position: relative;
  inset-inline-start: -18px;
  line-height: 82.5%;
}

@media (width <= 380px) {
  .header {
    grid-template-rows: 228px 190px 228px;
  }
  
  .main-title{
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    inset-inline-start: 0;
  }
}

.header__main-text {
  display: inline-block;
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  width: max(47.5vw, 355px);
  font-size: 18px;
  align-self: center;
  justify-self: end;
  line-height: 130%;
}

.main-content {
  margin-block-start: 60px;
}

@media (max-width: 380px) {
  .main-content {
    margin-block-start: 25px;
  }
}

.first-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.section-title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  grid-row: 1/ span 2;
}

@media (max-width: 770px) {
  .first-section {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 550px) {
  .first-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
  }

  .section-title {
    grid-row: 1/ span 1;
  }
}

.third-section__subtitle {
  font-weight: 700;
}

.text-decorated {
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--header-text-color);
  margin-block-end: 10px;
}

.main-content__card-text {
  font-size: 18px;
  line-height: 23.4px;
}

.card-text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card-text__link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.card-text__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.second-section {
  margin-block-start: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.second-section .section-title {
  width: 30.7vw;
  grid-column: 1/ span 3;
}

@media (max-width: 769px) {
  .second-section {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
  }

  .second-section .section-title {
    width: 30.7vw;
    grid-column: 1/ span 1;
  }
}

@media (max-width: 380px) {
  .second-section {
    margin-block-start: 50px;
  }
  
  .second-section .section-title {
    width: 100%;}
}

.third-section {
  margin-block-start: 80px;
  display: grid;
  grid-template-columns: 1fr 2.054fr;
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}

.third-section .section-title {
  grid-row: 1/ span 6;
}

.third-section h3 {
  margin-block-end: 0;
}

@media (max-width: 768px) {
  .third-section {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 550px) {
  .third-section {
    margin-block-start: 50px;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr;
  }

  .third-section .section-title {
    grid-row: 1/ span 1;
  }
}

.pictures {
  margin-block-start: var(--no-phone-margin);
}

.pictures-grid {
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25% 30.8% 41.8%;
  gap: 20px;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pictures-grid img:nth-child(1) {
  grid-row: 1/ span 1;
  grid-column: 1/ span 2;
}

.pictures-grid img:nth-child(2) {
  grid-row: 1/ span 2;
  grid-column: 3/ span 1;
}

.pictures-grid img:nth-child(3) {
  grid-row: 2/ span 2;
  grid-column: 1/ span 1;
}

.pictures-grid img:nth-child(-2) {
  grid-row: 2/ span 1;
  grid-column: 2/ span 1;
}

.pictures-grid img:last-child {
  grid-row: 3 / span 1;
  grid-column: 2/ span 2;
}

@media (max-width: 768px) {
  .pictures-grid {
    grid-template-rows: 25% 30.2% 41.4%;
  }
}

@media (max-width: 380px) {
  .pictures-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-auto-rows: 355px 237px;
    gap: 10px;
    margin-block-start: 10px;
  }
  
  .pictures-grid img:nth-child(1) {
    grid-column: 1/ span 1;
  }
  
  .pictures-grid img:nth-child(2) {
    grid-row: 2/ span 1;
    grid-column-start: 1;
  }
  
  .pictures-grid img:nth-child(3) {
    grid-row: 3/ span 1;
  }
  
  .pictures-grid img:nth-child(-2) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  
  .pictures-grid img:last-child {
    grid-row-start: 5;
    grid-column: 1/ span 1;
  }
}

footer {
  margin-block-start: calc(var(--no-phone-margin) - var(--padding-size));
  display: flex;
  min-height: clamp(667px, 100vh, 1024px);
  align-items: center;
  justify-content: center;
  position: relative;
  padding-block: var(--padding-size);
}

footer .main-title {
  text-shadow: 0 2px 0 var(--accent-color);
  position: static;
}

/* декоративный элемент в футере */
footer::before,
footer::after {
  content: '';
  display: block;
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
}

footer::before {
  border-inline-end: 1px solid var(--color-decorated);
  border-block-start: 1px solid var(--color-decorated);
  inset-inline-end: var(--padding-size);
  inset-block-start: var(--padding-size);
  
}

/* декоративный элемент в футере */
footer::after {
  border-inline-start: 1px solid var(--color-decorated);
  border-block-end: 1px solid var(--color-decorated);
  inset-block-end: var(--padding-size);
  inset-inline-start: var(--padding-size);
}